<br>
<h1>確認訂單</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <td>訂單總價</td>
      <td>訂單商品</td>
      <td>商品單價</td>
      <td>商品數量</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.amount %></td>
      <td><%= @order.name %></td>
      <td><%= @order.price %></td>
      <td><%= @order.quantity %></td>
    </tr>
  </tbody>
</table>
<div>

</div>

<%= @con %>