<br>
<h1><%= "#{@product.name}資訊" %></h1>
<br>
<div>
  <ul class="list-group">
    <small>商品名稱</small>
    <li class="list-group-item"><%= @product.name %></li>
    <small>商品價格</small>
    <li class="list-group-item"><%= @product.price %></li>
    <small>商品簡介</small>
    <li class="list-group-item"><%= @product.description %></li>
  </ul>
</div>
<br>
<div><%= link_to "返回商品列表", products_path %></div><br>
<div><%= link_to "商品銷售狀況", product_orders_path(@product) %></div>
<br>
<br>
<div>
    <p>購買處</p>
    <%= form_tag product_orders_path(@product), method: :post do %>
      <%= label :quantity, "請選擇數量" %>
      <%= select_tag(:quantity, options_for_select([*1..10])) %> <br>
      <%= submit_tag "購買", name: nil, class: "btn btn-primary" %>
    <% end %>
</div>