<br>
<h1><%= "#{@product.name}資訊" %></h1>
<br>
<div>
  <ul class="list-group">
    <small>商品名稱</small>
    <li class="list-group-item"><%= @product.name %></li>
    <small>商品價格</small>
    <li class="list-group-item"><%= @product.price %></li>
    <small>商品簡介</small>
    <li class="list-group-item"><%= @product.description %></li>
  </ul>
</div>
<br>
<div><%= link_to "返回商品列表", products_path %></div><br>
<div>
  <% if owner?(@product) %>
    <%= link_to "商品訂單列表", product_orders_path(@product) %>
  <% end %>
</div>
<br>
<br>
<%= render 'productbuy' %>